
.vs/Elective/v15/.suo
.vs/Elective/v15/Server/sqlite3/db.lock
.vs/Elective/v15/Server/sqlite3/storage.ide-shm
.vs/Elective/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
Assets/GameWall.cs
Assets/GameWall.cs.meta
Assets/Kenney.meta
Assets/Prefabs/CannonBall.prefab
Assets/Prefabs/PirateShip.prefab
Assets/Scenes/BattleScene.unity
Assets/Scripts/CannonBall.cs
Library/assetDatabase3
Library/CurrentMaximizeLayout.dwlt
Library/InspectorExpandedItems.asset
Library/metadata/1b/1b09ad12e9b44425f840a91f79c97a01
Library/metadata/6c/6cf9d983923f144efbcd7c98b8ec1870
Library/metadata/6c/6cf9d983923f144efbcd7c98b8ec1870.info
Library/metadata/90/90b6c6b7fd42fe24d909b7c9e3378161
Library/metadata/90/90b6c6b7fd42fe24d909b7c9e3378161.info
Library/metadata/94/94110ca0e17004efabeabf32fc70e56d
Library/metadata/94/94110ca0e17004efabeabf32fc70e56d.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/Hierarchy/eb8643-6cf9d983923f144efb.json
Library/StateCache/Hierarchy/eb8643-mainStage.json
Library/StateCache/SceneView/74291c-6cf9d983923f144efb.json
Library/StateCache/SceneView/74291c-94110ca0e17004efab.json
Library/StateCache/SceneView/74291c-mainStage.json
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSettings/TagManager.asset
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-1f2c83bba838d6c4080cabf99c113ed0
Temp/UnityTempFile-338b779bad9343649a16f45695f05d4b
Temp/UnityTempFile-389537cfd41fa21438bcf8d5d1cf15b3
Temp/UnityTempFile-48826361d3848b24b8af6a948545aefd
Temp/UnityTempFile-49392811228d57f42b6d1ba9aec3368a
Temp/UnityTempFile-4c566a8ed7ef1d741a13659fc23fb94b
Temp/UnityTempFile-62f810c31c47bd54aa4cf2ad5f42689f
Temp/UnityTempFile-95c32584394291c4c8094e4168ca6cdf
Temp/UnityTempFile-ae3c9aac45a74d8499feb90cb99dd6c5
Temp/UnityTempFile-b35c258cfa2ca6744a198185e66cd269
Temp/UnityTempFile-bdcffcb2fac4e4240b61966d58834878
Temp/UnityTempFile-bebee3ff101e9ba42b24718bce188bb7
Temp/UnityTempFile-c010359de28175d479bd4d71f18ca1c8
Temp/UnityTempFile-c8e3edb18d333de4993d4730eded2bb3
Temp/UnityTempFile-cd2966e3a4fcd7040b44d7198f8325a0
Temp/UnityTempFile-d932d22b6095b724b9b74b3f2a7a62ac
Temp/UnityTempFile-da2a22660b1a207419252f983d36e103
Temp/UnityTempFile-dab58e01c20ff214b9234de6fd0e1ccf
Temp/UnityTempFile-e50fc0e370f0201438f66361b5d9a528
Temp/UnityTempFile-f29490d1afb577146ac190a2606c2731
Assembly-CSharp.csproj
Elective.sln
Library/assetDatabase3
Library/EditorInstance.json
Library/metadata/87/876324374bc3a094e8b91819467d5e2e
Library/metadata/87/876324374bc3a094e8b91819467d5e2e.info
Library/metadata/94/94110ca0e17004efabeabf32fc70e56d
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.pdb
Library/ScriptAssemblies/Unity.Postprocessing.Editor.dll
Library/ScriptAssemblies/Unity.Postprocessing.Editor.pdb
Library/ScriptAssemblies/Unity.Postprocessing.Runtime.dll
Library/ScriptAssemblies/Unity.Postprocessing.Runtime.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityTempFile-0a3d682be57b431468e6ef52850a6ba9
Temp/UnityTempFile-1eb5118242fd56143a4a7c3b2b02fa1d
Temp/UnityTempFile-280b3534017cf3141aa31f6fec7d4def
Temp/UnityTempFile-418e0a7d84502e946b2a414bf3a3f2ab
Temp/UnityTempFile-45ae5f4326a419a4982a3af249ad5a75
Temp/UnityTempFile-52a52093613c6594fb57fc927b5451ef
Temp/UnityTempFile-549f723987a2d554fb942d4868a4e669
Temp/UnityTempFile-686263914efb2a84ba708734695dfb75
Temp/UnityTempFile-6901a863124d92d4da981cbd01f76e2e
Temp/UnityTempFile-6b04452ba525e3b41a415e33a299455a
Temp/UnityTempFile-7c76ac6aa2829ce46a4d2cdcd75de35e
Temp/UnityTempFile-8dfb78d8ad533c4479af7643a6ddd114
Temp/UnityTempFile-a9b746b15f2d2f84d8971d7b8c8b2270
Temp/UnityTempFile-ad63fb2ecd2530c44889aed1b393bda1
Temp/UnityTempFile-cd3463cbb39636442ada24f8817b7ff4
Temp/UnityTempFile-e59c7173db2346749bbeb522bd875348
Temp/UnityTempFile-e71b8916fe72b134cbb8386ce3091c76
Temp/UnityTempFile-e9cde432fb08e6d448a1c4c09b91f565
Temp/UnityTempFile-f58ce0d893016d340b9d086857d3fed3
Temp/UnityTempFile-fe6ade77fbc03fa41b28f35cf47e2b13
Temp/UnityTempFile-fe8ecd020219b68418745dc15c8dcb04
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Temp/UnityVS_obj/Debug/Elective.csproj.CoreCompileInputs.cache
Temp/UnityVS_obj/Debug/Elective.Editor.csproj.CoreCompileInputs.cache
