
.vs/Elective/v15/.suo
.vs/Elective/v15/Server/sqlite3/db.lock
.vs/Elective/v15/Server/sqlite3/storage.ide-shm
.vs/Elective/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
Assets/GameWall.cs
Assets/GameWall.cs.meta
Assets/Kenney.meta
Assets/Prefabs/CannonBall.prefab
Assets/Prefabs/PirateShip.prefab
Assets/Scenes/BattleScene.unity
Assets/Scripts/CannonBall.cs
Library/assetDatabase3
Library/CurrentMaximizeLayout.dwlt
Library/InspectorExpandedItems.asset
Library/metadata/1b/1b09ad12e9b44425f840a91f79c97a01
Library/metadata/6c/6cf9d983923f144efbcd7c98b8ec1870
Library/metadata/6c/6cf9d983923f144efbcd7c98b8ec1870.info
Library/metadata/90/90b6c6b7fd42fe24d909b7c9e3378161
Library/metadata/90/90b6c6b7fd42fe24d909b7c9e3378161.info
Library/metadata/94/94110ca0e17004efabeabf32fc70e56d
Library/metadata/94/94110ca0e17004efabeabf32fc70e56d.info
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/Hierarchy/eb8643-6cf9d983923f144efb.json
Library/StateCache/Hierarchy/eb8643-mainStage.json
Library/StateCache/SceneView/74291c-6cf9d983923f144efb.json
Library/StateCache/SceneView/74291c-94110ca0e17004efab.json
Library/StateCache/SceneView/74291c-mainStage.json
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProjectSettings/TagManager.asset
Temp/__Backupscenes/0.backup
Temp/UnityLockfile
Temp/UnityTempFile-1f2c83bba838d6c4080cabf99c113ed0
Temp/UnityTempFile-338b779bad9343649a16f45695f05d4b
Temp/UnityTempFile-389537cfd41fa21438bcf8d5d1cf15b3
Temp/UnityTempFile-48826361d3848b24b8af6a948545aefd
Temp/UnityTempFile-49392811228d57f42b6d1ba9aec3368a
Temp/UnityTempFile-4c566a8ed7ef1d741a13659fc23fb94b
Temp/UnityTempFile-62f810c31c47bd54aa4cf2ad5f42689f
Temp/UnityTempFile-95c32584394291c4c8094e4168ca6cdf
Temp/UnityTempFile-ae3c9aac45a74d8499feb90cb99dd6c5
Temp/UnityTempFile-b35c258cfa2ca6744a198185e66cd269
Temp/UnityTempFile-bdcffcb2fac4e4240b61966d58834878
Temp/UnityTempFile-bebee3ff101e9ba42b24718bce188bb7
Temp/UnityTempFile-c010359de28175d479bd4d71f18ca1c8
Temp/UnityTempFile-c8e3edb18d333de4993d4730eded2bb3
Temp/UnityTempFile-cd2966e3a4fcd7040b44d7198f8325a0
Temp/UnityTempFile-d932d22b6095b724b9b74b3f2a7a62ac
Temp/UnityTempFile-da2a22660b1a207419252f983d36e103
Temp/UnityTempFile-dab58e01c20ff214b9234de6fd0e1ccf
Temp/UnityTempFile-e50fc0e370f0201438f66361b5d9a528
Temp/UnityTempFile-f29490d1afb577146ac190a2606c2731
